*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/gradle/
/build.gradle
/GitApplication.iml
/gradle.properties
/gradlew
/settings.gradle
/gradlew.bat
app/libs/
/app/src/main/res/layout/practice.xml
/app/src/test/
